@using Microsoft.AspNetCore.Identity
@using MinhTuan.Domain.Entities
@using MinhTuan.Domain.Helper;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->

	<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

	<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<style>
		/* Thêm hiệu ứng transition cho hiển thị và ẩn đi ô alert */
		.alert {
			opacity: 0;
			transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
			transform: translateX(20px); /* Di chuyển alert lên trên */
		}

			.alert.show {
				opacity: 1;
				transform: translateY(0); /* Di chuyển alert về vị trí ban đầu và bên phải */
			}

	</style>

</head>
<body>
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="~/assets/img/logo.png" />
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="index.html">Trang chủ</a>
								<ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul>
							</li>

							<li>
								<a href="product.html">Mua sắm</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Khuyến mãi</a>
							</li>

							<li>
								@Html.ActionLink("Chính sách", "Privacy", "Home")

							</li>

							<li>
								<a href="about.html">Về chúng tôi</a>
							</li>

							<li>
								<a href="contact.html">Liên hệ</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

						@* <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							
						</a> *@
						<a class="nav-link nav-profile dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" href="#" data-bs-toggle="dropdown">
							<i class="zmdi zmdi-account-o"></i>
							
						</a><!-- End Profile Iamge Icon -->
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
							@if (!User.Identity.IsAuthenticated)
							{
								<li>
									<a class="dropdown-item align-items-center" asp-action="ShowView_Login" asp-controller="Account">
										<i class="ri-login-box-line"></i>
										<span>Đăng nhập</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item  align-items-center" asp-action="ShowView_Register" asp-controller="Account">
										<i class="ri-user-add-line"></i>
										<span>Đăng ký</span>
									</a>
								</li>
							}
							else
							{

							

							<li>
								<a class="dropdown-item  align-items-center" asp-action="UserProfile" asp-controller="Account">
									<i class="bi bi-person"></i>
									<span>Trang cá nhân</span>
								</a>
							</li>

							<li>
								<hr class="dropdown-divider">
							</li>

							<li>
								<a class="dropdown-item  align-items-center" asp-action="Logout" asp-controller="Account">
									<i class="bi bi-box-arrow-right"></i>
									<span>Đăng xuất</span>
								</a>
							</li>
							}


						</ul><!-- End Profile Dropdown Items -->

					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="~/assets/img/logo.png" /></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a class="nav-link nav-profile dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" href="#" data-bs-toggle="dropdown">
					<i class="zmdi zmdi-account-o"></i>

				</a><!-- End Profile Iamge Icon -->
				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
					@if (!User.Identity.IsAuthenticated)
					{
						<li>
							<a class="dropdown-item align-items-center" asp-action="ShowView_Login" asp-controller="Account">
								<i class="ri-login-box-line"></i>
								<span>Đăng nhập</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item  align-items-center" asp-action="ShowView_Register" asp-controller="Account">
								<i class="ri-user-add-line"></i>
								<span>Đăng ký</span>
							</a>
						</li>
					}
					else
					{



						<li>
							<a class="dropdown-item  align-items-center" asp-action="UserProfile" asp-controller="Account">
								<i class="bi bi-person"></i>
								<span>Trang cá nhân</span>
							</a>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item  align-items-center" asp-action="Logout" asp-controller="Account">
								<i class="bi bi-box-arrow-right"></i>
								<span>Đăng xuất</span>
							</a>
						</li>
					}


				</ul>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			

			<ul class="main-menu-m">
				<li>
					<a href="product.html">Trang chủ</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Khuyến mãi</a>
				</li>

				<li>
					<a href="about.html">Về chúng tôi</a>
				</li>

				<li>
					<a href="about.html">Chính sách</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
	<div class="container" style="min-height:5000px">
		@RenderBody()
	</div>
           
	@await Html.PartialAsync("_FooterCustomer")
	<!-- Ô Alert -->
	<div id="custom-alert" class="alert @TempData["AlertType"] alert-dismissible fade" role="alert" style="position:fixed;top:100px;right:20px;font-size:1.1em">
		<i class="@TempData["ClassIcon"]"></i>
		@TempData["AlertMessage"]

	</div>
	<!-- End Ô Alert -->
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

    @await RenderSectionAsync("Scripts", required: false)
	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		// Hiển thị ô alert trong 1 giây
		setTimeout(function () {
			document.getElementById("custom-alert").classList.add("show");
		}, 100);


		// Tự động ẩn đi sau 2 giây
		setTimeout(function () {
			document.getElementById("custom-alert").classList.remove("show");
		}, 2000);
	</script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<!-- Vendor JS Files -->
	<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/chart.js/chart.umd.js"></script>
	<script src="~/assets/vendor/echarts/echarts.min.js"></script>
	<script src="~/assets/vendor/quill/quill.min.js"></script>
	<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="~/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="~/assets/js/main.js"></script>
</body>
</html>
